.burgerMenu .buttonMenu {
  background-color: #ffe81f;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  scale: 2;
  border: none;
}

.burgerMenu .buttonMenu svg {
  stroke-width: 0.5px;
  scale: 1.4;
  position: relative;
  top: 1px;
}

.burgerMenu .listMenuDiv .listMenu {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  padding-left: 0;
  height: 90vh;
  margin: 0;
  width: 100vw;
  overflow-y: scroll;
  z-index: 1;
}

.burgerMenu .listMenuDiv .listMenu li {
  padding-left: 30px;
  list-style-type: none;
  cursor: pointer;
  font: 30px bold;
}

.burgerMenu .listMenuDiv .listMenu li a {
  margin: 150px 0 100px 0;
  position: relative;
  display: block;
  padding: 4px 0;
  text-transform: uppercase;
  transition: 1s;
}

.burgerMenu .listMenuDiv .listMenu li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 90vw;
  height: 15px;
  background: white;
  box-shadow: 0 0 5px #F00, 0 0 25px #F00, 0 0 50px #F00, 0 0 100px #F00;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.burgerMenu .listMenuDiv .listMenu li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.burgerMenu .listMenuDiv .listMenu :nth-child(n):link {
  text-decoration: none;
  color: white;
}

.burgerMenu .listMenuDiv .listMenu :nth-child(n):visited {
  text-decoration: none;
  color: white;
}

.burgerMenu .listMenuDiv .listMenu :nth-child(n):hover {
  color: #f00;
}